---
---

@import "{{ site.theme }}";

.img-circular{
    width: 150px;
    height: 150px;
    background-image: url('/assets/img/author.jpg');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin-bottom: 20px;
}

.post-list {
    list-style-type: none;
}

.post-meta {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}

.grey {
    color: #828282;
  }
  
.svg-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    padding: 0px 5px 20px 0px;
    vertical-align: text-bottom;
}

.social-media-list {
  list-style: none;
  display: table;
  margin: 0;
  padding: 0;

  li {
    float: left;
    a, div {
        text-align: center;
        box-sizing: border-box;
      }
  }
}

// svg {
//   width: 55px;
//   height: 55px;
// }

#main-content h2 {
  margin-top: 30px;
  margin-bottom: 15px;;
}

.post-list li h2 {
  margin-top: 30px;
  margin-bottom: 0px !important;
}

pre code {
  background-color: #f2f8fc;
}